# Activar reescritura
RewriteEngine On

# Si el archivo o directorio solicitado NO existe
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Si existe el archivo con .php, entonces reescribir
RewriteCond %{REQUEST_FILENAME}.php -f

# Añadir .php y procesarlo
RewriteRule ^(.*)$ $1.php [L]
